<center><h1>Editing Seat</h1></center>
<!-- <div class="edit_seat"> -->


  <%= render 'form' %>

  <center><%= link_to 'Show', @seat, class: "btn btn-default" %> |
  <%= link_to 'Back', seats_path, class: "btn btn-default" %></center>
<!-- </div> -->



