<!-- Header -->
<header id="top" class="header">
    <div class="text-vertical-center">
        <h1>Seats Change App</h1>
        <h3>Sparta Camp in Hachimantai</h3>
        <br>
        <%= link_to "
Registration", new_seat_path, class: "btn btn-default" %><%= link_to "
Mix now!!", randam_path, class: "btn btn-info" %>
<%= link_to "advance task!!", tasks_path, class: "btn btn-danger" %>
    </div>
</header>