<div class="randam_seats">
  <h1>Todays Seats!!</h1>
</div>
<% if @seats.present? %>
<div class="randam_table">
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @seats.each_with_index do |seat, i| %>
        <tr>
          <td><%= "#{i + 1}" %>.<%= seat.name %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<% else %>
<p>No registration!!</p>
<% end %>
<img src="https://www.evernote.com/l/AKW1JPS5tCNG1LGPFDiTJ06Tb59bf2t3ZMQB/image.png" alt="">

