<% if flash[:notice] %>
<div class="alert alert-success">
<p><%= notice %></p>
</div>
<% end %>

<div class="show_seat">
  <p>
    <strong>Name:</strong>
    <%= @seat.name %>
  </p>
    <%= link_to 'Edit', edit_seat_path(@seat), class: "btn btn-primary" %> |
    <%= link_to 'Index page', seats_path, class: "btn btn-default" %>
</div>
